h1{
    color: rgb(214, 122, 127);
}

*{
    font-family: 'Times New Roman', Times, serif;
}

#navbar{

    z-index: 2;
}
.logo{
    width: 100px; 
    height: 100px;
}
.banner{
    margin-left:0% ;
    height:70%;
    width:100%;
}